<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnKHzcZp4uqIw6Qcsxkogt-d3Woiov_Ek</string>
	<key>GCM_SENDER_ID</key>
	<string>952540103427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.scan-go</string>
	<key>PROJECT_ID</key>
	<string>scango-76fe5</string>
	<key>STORAGE_BUCKET</key>
	<string>scango-76fe5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952540103427:ios:bf544a1681d13425ac1f36</string>
</dict>
</plist>